{% extends "SyliusSf2Bundle::layout.html.twig" %}

{% block content %}

    <div class="jumbotron">
        <h2>Enregistrement d'un vengeur</h2>

        {{ form_start(form) }}

        <br/>

        <div class="form-group col-md-6">
            {{ form_widget(form.superHeroName) }}
        </div>

        <div class="form-group col-md-6">
            {{ form_widget(form.realName) }}
        </div>

        <div class="form-group col-md-12">
            {{ form_widget(form.identityRevealed) }} {{ form_label(form.identityRevealed) }}
        </div>

        <input type="submit" value="Envoyer" class="btn btn-default">

        {{ form_end(form) }}

        <br/>

        <a href="{{ path("sylius_sf2_website_avenger_index") }}">Retour</a>
    </div>

{% endblock %}

