{% extends "SyliusSf2Bundle::layout.html.twig" %}

{% block content %}

    <div class="jumbotron">
        <h2>Vengeurs répertoriés</h2>

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom du super héro</th>
                <th>Vrai nom</th>
                <th>Identité révélée?</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for avenger in avengers %}
                <tr>
                    <th scope="row">{{ avenger.id }}</th>
                    <td>{{ avenger.superheroname }}</td>
                    <td>{{ avenger.realname }}</td>
                    <td>
                        {% if avenger.identityRevealed %}
                            Yay
                        {% else %}
                            Nay
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path("sylius_sf2_website_avenger_show", { id: avenger.id }) }}"><i class="glyphicon glyphicon-search"></i></a>
                        <a href="{{ path("sylius_sf2_website_avenger_update", { id: avenger.id }) }}"><i class="glyphicon glyphicon-cog"></i></a>
                        <a href="{{ path("sylius_sf2_website_avenger_delete", { id: avenger.id }) }}"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ pagerfanta(avengers) }}

        <hr/>

        <a href="{{ path("sylius_sf2_website_avenger_create") }}">
            <h2>Enregistrer un nouveau vengeur</h2>
        </a>
    </div>



{% endblock %}