{% extends "SyliusSf2Bundle::layout.html.twig" %}

{% block content %}

    <div class="jumbotron">
        <h2>Vérification du vengeur</h2>

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom du super héro</th>
                <th>Vrai nom</th>
                <th>Identité révélée?</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{ avenger.id }}</th>
                    <td>{{ avenger.superheroname }}</td>
                    <td>{{ avenger.realname }}</td>
                    <td>
                        {% if avenger.identityRevealed %}
                            Yay
                        {% else %}
                            Nay
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path("sylius_sf2_website_avenger_index") }}">Retour</a>
    </div>

{% endblock %}