{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/syliussf2/css/bootstrap.min.css') }}" />

    <style>
        .container-content {
            margin-top: 150px;
        }

        .navbar {
            background-color: #8d8d8d;
        }

        .navbar-default .navbar-nav > li > a {
            color: #DDDDDD;
        }
    </style>
{% endblock %}

{% block body %}

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="{{ asset('bundles/syliussf2/images/logo.png') }}" width="70" height="70">
                </a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#"><h1>The Avengers</h1></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container container-content">
        {% block content %}{% endblock %}
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/syliussf2/js/bootstrap.min.js') }}"
{% endblock %}